[Unit]
Description=Foundry VTT 11 Pathfinder Service

[Service]
ExecStart=/home/dtickell/foundry_alkenstar/start.sh

[Install]
WantedBy=multi-user.target
